*,
*::before,
*::after{
	box-sizing: border-box;
}

/*********custom properties*********************************/

:root{
	--ff-primary: 'Roboto', sans-serif;;
	--ff-secondary: 'Roboto', sans-serif;;

	--fw-reg: 300;
	--fw-bold: 900;

	--clr-light: #fff;
	--clr-dark: #303030;
	--clr-accent: #16e0bd;               

	--fs-h1: 3rem;
	--fs-h2: 2.25rem;
	--fs-h3: 1.25rem;
	--fs-body: 1rem;

	--bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25);
}

@media (min-width: 800px){

	:root{
		--fs-h1: 4.5rem;
		--fs-h2: 3.75rem;
		--fs-h3: 1.5rem;
		--fs-body: 1.125rem;
	}
}


/***********General************************************************/

html{
	scroll-behavior: smooth;
}

body{
	background-color: var(--clr-light);
	color: var(--clr-dark);
	margin: 0;
	font-family: var(--ff-primary);
	font-size: var(--fs-body);
	line-height: 1.5;

}

img{
	display: block;
	max-width: 100%;
}

section{
	padding: 5em 2em;
}
strong{
	font-weight: var(--fw-bold);
}

:focus{
	outline: 3px solid var(--clr-accent);
	outline-offset: 3px;
}


.btn{
	display: inline-block;
	padding: .5em 2.5em;
	background: var(--clr-accent);
	color: var(--clr-dark);
	text-decoration: none;
	cursor: pointer;
	text-transform: uppercase;
	transition: transform 200ms ease-in-out;
	letter-spacing: 2px;
	font-weight: var(--fw-bold);
}

.btn:hover{
	transform: scale(1.1);
}


/********Typography************************************************/

h1, h2, h3{
	line-height: 1.1;
	margin: 0;
}

h1{
	font-size: var(--fs-h1);
}
h2{
	font-size: var(--fs-h2);
}
h3{
	font-size: var(--fs-h3);
}


.section_title{

}

.section_title-intro{
	font-weight: var(--fw-reg);
}

.section_title strong{
	display: block;
}


.section_subtitle{
	margin: 0;
	font-size: var(--fs-h3);
}

.section_subtitle-intro,
.section_subtitle-about{
	background-color: var(--clr-accent);
	padding: .25em 1em;
	margin-bottom: 1em;
}


/********Header********************************/

header{
	display: flex;
	justify-content: space-between;
	padding: 1em;

}







.hamburger{
	display: block;
	position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after{
	background: var(--clr-accent);
	width: 2em;
	height: 3px;
	border-radius: 1em;
	transition: transform 250ms ease-in-out;
}

.hamburger::before,
.hamburger::after{
	content: '';
	position: absolute;
	left: 0;
	right: 0;
}

.hamburger::before{
	top: 6px;
}
.hamburger::after{
	bottom: 6px;
}



@media(min-width: 800px)
{
	.nav{
		background-color: var(--clr-light);
		position: relative;	
		transform: translateX(0%);
		transition: none;	
	}
	
	.nav_list{
		font-size: var(--fs-body);
		font-weight: var(--fw-reg);
	}

	
	.nav_toggle{
		display: none;
	}
	
	.nav_list{
		display: flex;
		flex-direction: row;
		list-style: none;
		justify-content: space-around;
		width: 30%;
	}
		
	.nav_link{
		text-decoration: none;
		color: var(--clr-dark);
		font-weight: var(--fw-bold);
		font-size: var(--fs-body);
		
	}

	.nav_item{
		margin: 20%;
	}
}








/**************Work**************************/

.work{
	background-color: var(--clr-light);
	color: var(--clr-dark);
	text-align: center;
}


.section_subtitle-work{
	color: var(--clr-accent);
	font-weight: var(--fw-bold);
	margin-bottom: 2em;
}


.portfolio{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-gap: 1em;
	max-width: 1300px;
	margin: 0 auto;
}

.portfolio_item{
	background: var(--clr-light);
	overflow: hidden;
	width: 300px;
	height: 300px;
}

.portfolio_img{
	transition: 
		transform 500ms cubic-bezier(.5, 0, .5, 1),
		opacity 250ms linear;

}

.portfolio_item:focus{
	position: relative;
	z-index: 2;
}

.portfolio_img:hover,
.portfolio_item:focus .portfolio_img {
	transform: scale(1.1);
	opacity: 1;

}



/****************FOOTER****************************/

.footer{
	background: #111;
	color: var(--clr-accent);
	text-align: center;
	padding: 2.5em 0;
}

.footer a{
	color: inherit;
	text-decoration: none;
	font-size: var(--fs-h3);
}

.footer_link{
	font-weight: var(--fw-bold);
}

.footer_link: hover,
.socialList_link: hover{
	opacity: .7;
}

.footer_link: hover{
	text-decoration: underline;
}

.socialList{
	list-style: none;
	display: flex;
	justify-content: center;
	margin: 2em 0 0;
	padding: 0;
}

.socialList_item{
	margin: 0 .5em;
}

.socialList_link{
	padding: .5em;
}





/**********CONTACT FORM*************************************************/
.contact-container{
	width: 80%;
	margin: 0 auto;
	overflow: hidden;
	text-align: center;
}

.contact-section{
	background: var(--clr-light);

}

.contact-container p{
	color: var(--clr-accent);
	text-align: center;
}

.form{
	margin-top: 2em;
}



.contact-form i.fa{
	/* color: red; */
	/* color: #fff; */
	font-size: 22px; 
	padding: 3%;
	background-color: none;
	border-radius: 80%;
	margin: 2%;
	/* border: 2px solid #fff; */
	cursor: pointer;
	border:2px solid var(--clr-accent);
	color: var(--clr-accent);
  }
  
  .contact-form i.fa:hover{
	cursor: pointer;
	border:1px solid var(--clr-accent);
	color: var(--clr-accent);
  }
   
	.contact-form{
	  display: grid;
	  grid-template-columns: auto auto;
	   }
	
	.form-info{
	  font-size: 16px;
	  font-style: italic;
	  color: var(--clr-dark);
	  letter-spacing: 2px;
	}
	input{
	  padding: 10px;
	  margin:10px;
	  width: 70%;
	  background-color:transparent;
	  color: var(--clr-dark);
	  border-top: none;
	  border-left: none;
	  border-right: none;
	  border-bottom: 2px solid var(--clr-dark);
	  outline:none;
	}

	input::placeholder{
	  color: var(--clr-dark);
	}
  
	 textarea{
	padding: 10px;
	margin: 10px;     
	width: 70%;
	background-color:transparent;
	color: var(--clr-dark);
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 2px solid var(--clr-dark);
	outline:none;
   }
   textarea::placeholder{
	 color: var(--clr-dark);
   }
   
	
  
	.submit{
	width: 40%;
	background: none;
	padding: 4px;
	outline: none;
	 /* border: 1px solid #fff;
	color: #fff; */
	font-size: 13px;
	font-weight: bold;
	letter-spacing: 2px;
	height: 33px;
	text-align: center;
	cursor: pointer;
	letter-spacing: 2px;
	margin-left: 3%;
	border:2px solid var(--clr-accent);
	color: var(--clr-accent);
   }

   .submit:hover{
		 border: 1px solid var(--clr-accent);
	color: var(--clr-accent);
	cursor: pointer;
   }

	  /* media queries */
  @media (max-width: 768px){

.contact-section .contact-form{
	  display: block;
	  width: 100%;
	  text-align: center;
	}
	.contact-section .submit{

	  width: 60%;
	}

}
